.formulario{
    display: flex;
    flex-direction: column;
    max-width: 700px;
}
.formulario__lista{
   

}
.formulario__lita__item{

}
.formulario__lista__nome{

}
.formulario__lista__input{

}